@import url('default.css');

.dashboard-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    color: var(--primary-color);
    background-color: var(--primary-background);
    box-shadow: 0 4px 4px 0 rgba(60,64,67,.3), 0 8px 12px 6px rgba(60,64,67,.15);
    overflow: hidden !important;
    transition: all ease 0.3s;
    z-index: 99;
    &.active {
        width: 80px;
        & .icon span {
            display: none;
        }
        & .logo img {
            transition: all ease 0.3s;
            width: 40px !important;
            height: 40px !important;
        }
    }
    & .sidebar-header {
        text-align: center;

        & .logo {
            transition: all ease 0.3s;
            & img {
                width: 60px;
                height: 60px;
            }
            & h4 {
                margin-top: 8px;
                font-weight: 600;
                text-transform: uppercase;
                white-space: nowrap;
                transition: all ease 0.3s;
                &.active {
                    display: none;
                }
            }
        }
    }

    & .text-link {
        color: inherit;
    }

    & .user-profile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

.menu-content {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.menu-content-inner {
    position: relative;
    margin-left: 15px;
    overflow-x: hidden !important;
    overflow-y: auto;
    & small {
        margin-bottom: 30px;
        font-weight: 600;
    }
    & ul li {
        width: 100%;
        line-height: 60px;
        transition: all ease 0.3s;
        & .sub-menu {
            & ul li {
                width: 100% !important;
                line-height: 30px;
                margin-left: 20px;
                padding-left: 20px;
                & .text-link {
                    width: 100%;
                    display: block;
                    font-size: 12px;
                }
                & i {
                    position: relative;
                    top: 2px;
                    font-weight: 600;
                    margin-right: 8px;
                }
            }
        }
        &.active {
            color: var(--secondary-color);
            background-color: var(--primary-active-color);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            & .icon span {
                font-weight: 500;
            }
        }
        & .text-link {
            text-decoration: none;
            align-items: center;
            & .icon {
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                gap: 8px;
                padding-left: 15px;
                &:hover:not(.active) {
                    background-color: var(--primary-hover);
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px
                }
                & i {
                    font-size: 18px;
                }
                & span {
                    font-weight: 600;
                    & i {
                        font-size: 7px;
                        top: -2px;
                        left: 3px;
                        color: var(--primary-color);
                        position: relative;
                    }
                }
            }
        }
    }  
}

}

.content {
    width: calc(100% - 280px);
    position: absolute;
    right: 0;
    transition: all ease 0.3s;
    &.active {
        width: calc(100% - 80px);
    }
    & .navbar {
        transition: all ease 0.3s;
        &.active {
            position: sticky;
            width: 100%;
            top: 0;
            box-shadow: 0 4px 4px 0 rgba(60,64,67,.3), 0 8px 12px 6px rgba(60,64,67,.15);
            background-color: var(--primary-background);
            z-index: 9;
        }
    }
    & .navbar-brand {
        font-size: 20px;
        font-weight: 600;
    }
    & .nav-item i {
        margin-top: 8px;
        font-size: 25px;
    }
    & .notif {
        position: relative;
        & span.notif-count {
            position: absolute;
            top: 2px;
            right: -8px;
            padding: 5px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--secondary-color);
            background-color: var(--primary-active-color);
            border-radius: 5px;
            font-size: 10px;
            font-weight: 600;
            text-align: center;
            z-index: 9;
        }
    }
    & .navbar-profile {
        & img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid var(--primary-active-color);
        }
        & .profile-info {
            cursor: pointer;
            & div:nth-child(1) {
                font-size: 12px;
                font-weight: 600;
            }
            & div:nth-last-child(1) {
                font-size: 10px;
                font-weight: 600;
            }
        }
    }
}

.hamburger-wrapper {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all ease 0.3s;
    &.active {
        & .hamburger {
            width: 0px;
            transition: all ease 0.3s;
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    & .hamburger {
        width: 25px;
        height: 4px;
        background-color: var(--primary-color);
        border-radius: 10px;
        transition: all ease 0.3s;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: inherit;
            transition: all ease 0.3s;
            border-radius: 10px;
        }
        &::before {
            transform: translateY(-8px);
            background-color: var(--primary-color);
        }
        &::after {
            transform: translateY(8px);
            background-color: var(--primary-color);
        }
    }
}

.inner-content {
    position: relative;
    & .greetings {
        & h5 {
            font-weight: 600;
        }
        & h1 {
            font-weight: 800;
        }
    }
    & .timestamp h6 {
        font-weight: 600;
    }
    & small {
        font-size: 15px;
        font-weight: 700;
        border-left: 5px solid var(--primary-active-color);
        padding-left: 10px;
    }
    & .overview .card{
        color: var(--secondary-color);
        border: 0px;
        & .card-header {
            font-size: 12px;
            position: relative;
            top: 10px;
            text-transform: uppercase;
        }
    }
    & .user-profile-content {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0 10px 0;
        width: 100%;
        height: 100%;
        padding: 10px 20px 10px 20px;
        cursor: pointer;
        transition: all ease 0.3s;
        &:hover {
            background-color: var(--primary-hover);
        }
        & img {
            width: 40px;
            border-radius: 50%;
        } & h6, & p { 
            font-weight: 600;
            margin: 0;
        } & p {
            font-weight: 700;
            font-size: 10px;
            text-transform: uppercase;
        } & i {
            position: relative;
            top: 1px;
            font-size: 12px;
        }
    }
}

@media (min-width: 0px) and (max-width: 375px) {
    .sidebar {
        width: 70%;
    }
    .content {
        width: 100%;
    }
    .logo {
        & img {
            width: 50px !important;
            height: 50px !important;
        }
    }
}
