/* IMPORT POPPINS  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --primary-background: #fff;
    --secondary-background: #36393f;
    --tertiary-background: #dedede;
    
    --primary-color: #323232;
    --secondary-color: #fff;

    --primary-active-color: #005457;

    --primary-btn: #005457;
    --primary-hover: #7457572b;

    --orange-color: #835616;
    --green-color: #095f40;
    --blue-color: #065e6b;
    --violet-color: #3d0d45;
    --red-color: #540d2d;
    --dark-blue-color: #005457;   
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    user-zoom: none;
}

/* BUTTONS */

.btn {
    position: relative;
}

.btn-check:checked+.btn, 
.btn.active, .btn.show, 
.btn:first-child:active, 
:not(.btn-check)+.btn:active,
.btn:hover {
    box-shadow: none;
    background-color: var(--primary-btn);
    border-color: var(--primary-active-color);
}

.btn-outline-primary,
.btn-outline-primary {
    color: var(--primary-color) !important;
    border-color: var(--primary-active-color) !important;
    background-color: var(--primary-background) !important;
}

.btn-primary {
    background-color: var(--primary-btn);
    border-color: inherit !important;
}

.btn-standard {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.btn-icon i {
    font-size: 20px;
}

.btn-icon.right i {
    position: absolute;
    right: 20px;
    z-index: 999;
}

.btn-icon.left i {
    position: absolute;
    left: 20px;
    z-index: 999;
}

.scroll-top {
    width: 35px;
    height: 35px;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all ease 0.3s;
    cursor: pointer;
    & i {
        font-size: 10px;
        color: var(--secondary-color);
    }
    &.active {
        display: flex;
        transition: all ease 0.3s;
    }
}

/* INPUTS */

.form-control {
    box-shadow: none !important;
    &:focus {
        border-color: var(--primary-active-color);
    }
}

/* TYPOGRAPHY */

.text-link {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 500;
    &:hover {
        color: var(--primary-active-color);
    }
}

span.active-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    left: 2px;
    bottom: 3px;
    align-items: start;
    background-color: #05ff40;
}

/* COLOR */

.orange {
    background-color: var(--orange-color);
}

.green {
    background-color: var(--green-color);
}

.blue {
    background-color: var(--blue-color);
}

.violet {
    background-color: var(--violet-color);
}

.red {
    background-color: var(--red-color);
}

.dark-blue {
    background-color: var(--dark-blue-color);
}

